################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chatter.App.Api/obj
/Chatter.App.Core/obj
/Chatter.App.Entities/obj
/Chatter.App.Infra/obj
